.page-content.profile {
  align-items: flex-start;
  padding: 20px;
}

.profile-block {
  position: relative;
  width: 100%;
}

.profile-block:not(:last-child) {
  margin-bottom: 10px;
}

.profile-input {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: transparent;
  font: bold 25px Gidole;
  color: white;
  text-align: center;
  background-color: transparent;
}

.edit-button {
  position: absolute;
  right: 0;
  margin-right: 10px;
  color: white;
  background-color: transparent;
  font-size: 20px;
}

.editable {
  color: black;
  background-color: white;
}

/* FONTS */

@font-face {
  font-family: Gidole;
  src: url('../gidole.otf');
}
