/* HEADER BAR */

/* decorative slash behind header stuff */
.slash {
  position: fixed; /* this allows you to position it behind the other stuff */
  top: -5vw;
  left: -5vw;
  height: 95px;
  width: 110vw;
  background-color: white;
  transform: rotate(3deg);
  box-shadow: 0 0 40px 1px #222;
}

.header-bar {
  width: 100vw;
  padding: 5px;
  justify-content: space-between; /* pushes the title and buttons to the edges */
  margin-bottom: 50px;
}

.header-text {
  z-index: 1;
  font: bold 40px Gidole;
  color: #f7786b;
  margin-left: 10px;
}

/* div to contain the sign in and register buttons */
.login-button-wrap {
  flex-direction: column;
}

/* sign in and register buttons */
.account-button {
  z-index: 1;
  width: 80px;
  padding: 5px 10px 3px 10px;
  color: #f7786b;
  font: 14px Gidole;
  border: 1px solid #f7786b;
  background-color: white;
}

/* only applies to .account-button elements that are the first child of their parent */
.account-button:first-child {
  margin-bottom: 5px;
}

/* LANDING SECTION */

.section-landing {
  flex-direction: column;
  padding: 10px;
  margin-bottom: 30px;
}

.search-bar {
  height: 40px;
  width: 100%;
  padding: 5px 10px;
  border-radius: 3px;
  font: 17px Gidole;
  box-shadow: 0 3px 10px -2px #222;
  color: #555;
}

/* FEATURED PRODUCTS SECTION */

/* main view the user sees when arriving on the website */
.section-featured {
  position: relative; /* required because of children with 'position: absolute' */
  flex-direction: column; /* flex puts everything in a row by default - this overrides it */
  width: 100vw; /* vw = view width */
  padding: 10px;
  overflow: hidden; /* required to stop the angled slash thing making the page scroll */
}

.feat-wrap {
  flex-direction: column;
  align-items: flex-start; /* positions the 'Latest Items' title to the left */
  width: 100%;
}

.latest-item {
  position: relative;
  width: 100%;
  height: 120px;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 3px 5px -2px #222;
}

.latest-item:not(:last-child) {
  margin-bottom: 10px;
}

.latest-image {
  width: 100%;
}

.latest-info {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  color: #555;
  font: 15px Gidole;
  background-color: white;
  border-top-left-radius: 3px;
}

.feat-title {
  width: 100%;
  margin-bottom: 5px;
  font: 15px Gidole;
  color: white;
}

.feat-product {
  overflow: hidden; /* stops the image's square corners overriding the curved corners of this div */
  height: 80px;
  width: 100%;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 3px 2px -2px #222;
}

/* swap pic and text for every product box that is at an even position in its parent's children */
.feat-product:nth-child(even) {
  flex-direction: row-reverse;
}

.feat-product:nth-child(even) .product-image {
  margin: 0 0 0 5px;
}

/* add a margin to the bottom of every product box that is not the last child of its parent */
.feat-product:not(:last-child) {
  margin-bottom: 10px;
}

.product-image {
  height: 100%;
  width: 80px;
  margin-right: 5px;
  object-fit: cover; /* fit the image inside this img tag */
}

.product-info {
  flex-grow: 1;
  font: 12px Gidole;
}

.browse-button {
  height: 30px;
  padding: 5px 12px;
  margin: 20px 0 10px 0;
  color: white;
  font: 17px Gidole;
  border: 1px solid white;
  background-color: #f7786b;
}

/* FONTS */

@font-face {
  font-family: Gidole;
  src: url('../gidole.otf');
}
