<header class="page-header">
  <h1 class="page-title">{{title}}</h1>
  <div class="nav-button-wrap">
    {{#if user}}
      <a class="nav-button fa fa-plus" id="nav-button" href="/new-product"></a>
    {{/if}}
    <a class="nav-button fa fa-home" id="nav-button" href="/"></a>
  </div>
</header>
