{{>header}}

<div class="page-content">
  <form class="form" id="profile-form" autocomplete="off">
    <div class="form-input-wrap">
      <label class="shop-name-label">Shop Name
        <span class="char-count" id="name-char-count">25</span>
        <input type="text" name="shop" maxlength="25" id="name-text">
      </label>

      <label class="textarea-label">About Me
        <span class="char-count" id="about-char-count">200</span>
        <textarea name="about" rows="4" maxlength="200" id="about-text"></textarea>
      </label>

      <div class="form-image fa fa-file-image-o" id="preview-image"></div>
      <label class="form-button" id="image-label">Upload Profile Pic
        <input type="file" accept="image/*" class="hidden" id="image-input">
        <input type="hidden" name="imageUrl" id="image-url">
      </label>
    </div>
    <input id="submit" type="submit" value="SUBMIT">
  </form>
</div>

<script type="text/javascript" src="./scripts/s3.js"></script>
<script type="text/javascript" src="./scripts/create.js"></script>
