<header class="landing-header">
  <div class="slash"></div>
  <h1 class="header-text">NAZBAY</h1>
  <div class="login-button-wrap">
    <a class="account-button" href="/login">{{loginStatus}}</a>
    <a class="account-button" href="/register">REGISTER</a>
  </div>
</header>

<section class="landing-section">
  <img class="logo" src="./assets/logo.svg" alt="NazBay Logo">
</section>
