{{>header}}

<div class="page-content">
  <form class="form" id="login-form" autocomplete="off">
    <div class="form-input-wrap">
      <label>Username
        <input type="text" name="username">
      </label>

      <label>Password
        <input type="password" name="password">
      </label>
    </div>
    <input id="submit" type="submit" value="SUBMIT">
  </form>
</div>

<script type="text/javascript" src="./scripts/login.js"></script>
