{{>header}}

<div class="page-content product">
  <span class="block-title">ABOUT</span>
  <p class="product-block">{{description}}</p>

  <img class="product-image" src="{{image}}" />

  <span class="block-title">PRICE</span>
  <span class="product-block centre">{{price}}</span>

  <a class="product-button">ADD TO CART</a>
</div>
