{{>header}}

<div class="page-content profile">
  <img class="profile-picture block" src="https://nasijona-profiles.s3.amazonaws.com/1496697441233_success.png"/>

  <span class="block-title">ABOUT ME</span>
  <p class="about block"></p>
</div>
