{{>header}}

<div class="page-content">
  <form class="registration-form" id="register-form" autocomplete="off">
    <div class="form-input-wrap">
      <label>About Me
        <textarea name="about" rows="6"></textarea>
      </label>
      <label class="form-button">Upload Image
        <input type="file" accept="image/*" class="image-input">
      </label>
    </div>
    <input id="submit" type="submit" value="SUBMIT">
  </form>
</div>

<!-- <script type="text/javascript" src="./scripts/profile.js"></script> -->
