{{>header}}

<div class="page-content">
  <form class="form" id="register-form" autocomplete="off">
    <div class="form-input-wrap">
      <label>Username
        <input type="text" name="username" value="Dan">
      </label>

      <label>Email Address
        <input type="text" name="email" value="dan@dan.com">
      </label>

      <label>Password
        <input type="password" name="password" value="123">
      </label>

      <label>Confirm Password
        <input type="password" name="confirm" value="123">
      </label>
    </div>
    <input id="submit" type="submit" value="SUBMIT">
  </form>
</div>

<script type="text/javascript" src="./scripts/register.js"></script>
