.registration-form {
  flex-direction: column;
}

.form-input-wrap {
  flex-direction: column;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 3px 10px -2px #222;
}

label {
  color: #555;
  font: bold 17px Gidole;
}

label:not(:last-child) {
  margin-bottom: 10px;
}

.input-field {
  width: calc(100vw - 80px);
  margin-top: 5px;
  padding: 5px 0;
  font: 17px Gidole;
  color: #f7786b;
  border-bottom: 2px solid #eee;
  transition: 0.2s;
}

.input-field:focus {
  outline: none;
  border-color: #f7786b;
}

.submit-button {
  padding: 8px 10px;
  margin-top: 25px;
  border-radius: 3px;
  font: bold 25px Gidole;
  color: #f7786b;
  background-color: white;
  border: 2px solid white;
  box-shadow: 0 3px 10px -2px #222;
}

/* FONTS */

@font-face {
  font-family: Gidole;
  src: url('../gidole.otf');
}
