.view-product-section {
  width: 100%;
  flex-direction: column;
  padding: 20px;
}

.block {
  box-shadow: 0 3px 10px -2px #222;
}

.block:not(:last-child) {
  margin-bottom: 20px;
}

.panel {
  width: 100%;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  font: 15px Gidole;
  color: #555;
}

.product-image {
  height: 50vw;
  width: 50vw;
  border-radius: 100%;
  border: 5px solid white;
}

.product-info {
  justify-content: space-around;
  height: 50px;
}

.product-info span {
  width: 50%;
}

.category {
  border-right: 1px solid #ddd;
}

.purchase-button {
  padding: 8px 10px;
  border-radius: 3px;
  font: bold 20px Gidole;
  color: #f7786b;
  background-color: white;
  border: 2px solid white;
  box-shadow: 0 3px 10px -2px #222;
}

@font-face {
  font-family: Gidole;
  src: url('../gidole.otf')
}
