h1 {
  color: red;
}

.product-image {
height: 50vw;
width: 50vw;
border-radius: 100%;
border: 2px solid white;
}

.description, .product-name, .nazmade, .price, .category {
  width: 100%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  font: 15px Gidole;
  color: #555;
}

.block {
  box-shadow: 0 3px 10px -2px #222;
}

.block:not(:last-child) {
  margin-bottom: 10px;
}

.product-name {
  width: 100%;
  margin-bottom: 5px;
  font: 15px Gidole;
  color: #555;
}

.view-product-section {
  flex-direction: column;
  padding: 20px;
}

@font-face {
  font-family: Gidole;
  src: url('../gidole.otf')
}
