/* RESET */

body, header, footer, h1, button, div, img, a {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* FLEX */

section, header, footer, h1, div, button, a {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ELEMENT RULES */

body {
  background-color: #f7786b;
}
